{% extends 'base.html' %}

{% block content %}
    <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem; ">
        <h1>
            testing
        </h1>

        <!--서버에 보내는 요청서 같은거 = form / csrf는 장고에서 사용하는 보안토큰 Post 메소드 사용시 반드시 써야됨-->
        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <!-- class는 bootstrap 에 존재하는 클래스를 이용한거임 따로 스타일 적용안해도 바로 디자인됨. -->
            <input type="submit" class="btn btn-primary" value="POST"/>
        </form>

        <h1>
            {{ text }}
        </h1>

    </div>
{% endblock %}